@model StatisticsModel

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>
<h2>Bill @(Model.Bill)$</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Fee")
        </th>
        <th>
            @Html.DisplayName("Account")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Payments)
    {
        <tr>
            <td>
                @item.Date.ToString("d")
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.Fee))$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Username)
            </td>
        </tr>
    }
    </tbody>
</table>
