
@model RegisterModel

@{
    ViewData["Title"] = "Registration";
}

<h1>Register</h1>

@using (Html.BeginForm("Register", "Registration", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email)</td>
            <td>@Html.ValidationMessageFor(a => a.Email)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password)
            </td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Register" />
            </td>
            <td></td>
        </tr>
    </table>
}